[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "external/DirectXMath"]
	path = external/DirectXMath
	url = https://github.com/microsoft/DirectXMath
